<div class="table-data">
  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="data"
    [nzLoading]="isLoading"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="id" nzWidth="70px">№</th>
        <th nzColumnKey="description">Description</th>
        <th nzColumnKey="amount" nzWidth="230px">Amount</th>
        <th nzWidth="220px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let id = index">
        <td>
          {{
            (rowSelectionTable.nzPageIndex - 1) * rowSelectionTable.nzPageSize +
              id +
              1
          }}
        </td>
        <td>{{ data.Description }}</td>
        <td>{{ data.Amount }}</td>
        <td>
          <div class="actions-btn">
            <button
              nz-button
              nzType="primary"
              (nzOnConfirm)="confirm()"
              nz-button
              nzType="primary"
            >
              Invoices
            </button>
            <button nz-button nzType="default">
              <span nz-icon nzType="eye" nzTheme="outline"></span>View
            </button>

            <button
              nz-button
              nzType="primary"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="menu"
            >
              <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- DROPDOWN MENU -->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>1st menu item</li>
    <li nz-menu-item>2nd menu item</li>
    <li nz-menu-item>2nd menu item</li>
  </ul>
</nz-dropdown-menu>
